body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border: 5px solid white;
    padding: 10px;
}